@import 'tailwindcss';


/* Optional mobile enhancements */
html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    touch-action: manipulation;
  }

.card-button {
    @apply rounded-md bg-white px-3 py-2 shadow-sm select-none  hover:bg-gray-50 active:shadow-xs gap-2 lg:gap-2 lg:px-6 lg:py-3;
}

.card {
    @apply rounded-md bg-white px-4 py-4 shadow-sm select-none;
}

.dailyreward-card {
    @apply rounded-xl bg-gray-100 p-5  max-[24rem]:p-3;
}

@keyframes subtle-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-indicator {
    animation: subtle-pulse 2s ease-in-out infinite;
}

.button-active {
    @apply active:scale-95 transition-all duration-300;
}
.small-card-action {
    @apply min-w-[100px] rounded-md px-4 py-2 max-[24rem]:px-4 max-[24rem]:py-2  max-[24rem]:min-w-[80px] max-[24rem]:text-sm font-semibold;
}

@theme {
    --text-tiny: 0.625rem;
    --text-tiny--line-height: 1.5rem; 
    --text-tiny--letter-spacing: 0.015rem; 
    --text-tiny--font-weight: 500; 
  }