@import 'tailwindcss';


/* Optional mobile enhancements */
html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    touch-action: manipulation;
  }

.card-button {
    @apply rounded-md bg-white px-4 py-2 shadow-sm select-none hover:bg-gray-50 active:shadow-xs lg:px-6 lg:py-3;
}

.card {
    @apply rounded-md bg-white px-4 py-4 shadow-sm select-none;
}

.dailyreward-card {
    @apply rounded-xl bg-gray-100 p-6;
}

@keyframes subtle-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-indicator {
    animation: subtle-pulse 2s ease-in-out infinite;
}

.button-active {
    @apply active:scale-95 transition-all duration-300;
}