<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKhFILnp4lOVMcKGASNPcAckSkG0AaSZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>344897380896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhenis.gridwords</string>
	<key>PROJECT_ID</key>
	<string>soup-letter</string>
	<key>STORAGE_BUCKET</key>
	<string>soup-letter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344897380896:ios:b347bad5fc2e2cb4449245</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9539843520256562~3311880429</string>
</dict>
</plist>